doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/more-styles.css')
  body
    div(class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12")
      div(class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:rounded-lg max-sm:px-5 sm:px-8")
        div(class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 max-sm:px-0")
          div(class="sm:mx-auto sm:w-full sm:max-w-lg")
            div(class="flex justify-center gap-5 items-center")
              img#logo(class="h-20" src="/assets/images/key.svg" alt="A logo of a blue key inside of a diamond")
              h1(class="text-3xl font-bold tracking-tight text-slate-900  text-nowrap max-sm:text-wrap") Members Only
          div(class="mt-5 sm:mx-auto sm:w-full sm:max-w-lg")
            block content
